<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context.xsd">
	
	<!--  
			Client client = new Client("192.168.0.115");
			client.setHost("192.168.1.1");
	-->
	<bean id="client" class="spring.Client">
		<constructor-arg value="192.168.0.115" />
		<property name="host" value="192.168.1.1" />
	</bean>
</beans> 





